.titleSection {
  margin-bottom: 40px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
}

.timeStamp {
  text-align: end;
  font-weight: 500;
  margin: 0;
}

.titleSection::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  left: 0;
  top: 10px;
  background-color: aliceblue;
  border-radius: 2px;
  z-index: 100;
}
