.table {
  border: 2px solid aliceblue;
}

.headRow {
  background-color: rgba(189, 236, 255, 0.836);
  font-size: 24px;
}

.curColumn {
  width: 150px;
  text-align: center;
}

.valColumn {
  width: 250px;
  text-align: center;
}
